.header{
  text-align: center;
}
.form-container{
  margin: auto;
  text-align: center;
  height: 400px;
  width: 400px;
  border: 2px solid red;
  background-color: beige;
}
.error-msg{
  color: red;
}
