.timer{
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #78f6f6;
    color: #ff009d;
    font-size: medium;
    cursor: pointer;
}