<p>rxjs works!</p>
<button routerLink="takeOperater">TakeOperater</button><br><br>
<button routerLink="takeUntil">TakeUntilOperator</button><br><br>
<button routerLink="takeLast">takelast operater</button><br><br>
<button routerLink="takeWhile">takeWhileOperator</button><br><br>
<button routerLink="skip">Skip operater</button><br><br>
<button routerLink="skiplast">Skip last</button><br><br>
<button routerLink="skipuntil">Skip until</button><br><br>
<button routerLink="skipWhile">SkipWhileOperator</button><br><br>
<button routerLink="buffer">Buffer operater</button><br><br>
<button routerLink="startWith">Start with operater</button><br><br>
<button routerLink="endWith">EndWith operater</button><br><br>
<button routerLink="defaultEmpty">Default empty operater</button><br><br>
<button routerLink="first">First operater</button><br><br>
<button routerLink="map">Map operater</button><br><br>
<button routerLink="mapTo">Map to </button><br><br>
<button routerLink="last">Last operater</button><br><br>
