<p>rxjs works!</p>
<button routerLink="takeOperater">TakeOperater</button><br><br>
<button routerLink="takeUntil">TakeUntilOperator</button><br><br>
<button routerLink="takeLast">takelast operater</button><br><br>
<button routerLink="takeWhile">takeWhileOperator</button><br><br>
<button routerLink="skip">Skip operater</button><br><br>
<button routerLink="skiplast">Skip last</button><br><br>
<button routerLink="skipuntil">Skip until</button><br><br>
<button routerLink="skipWhile">SkipWhileOperator</button><br><br>
<button></button><br><br>
<button></button><br><br>
<button></button><br><br>
<button></button><br><br>
<button></button><br><br>
<button></button><br><br>
<button></button><br><br>
<button></button><br><br>
