.main{
    background-image: url('~src/assets/images/nature.avif');
    background-repeat: no-repeat;
    background-size: cover;
    height: 40rem;
    width: 40rem;
    opacity: 0.8;
}
.para{
  color: #12ed2b;  
}
.para2{
    color: #ff00e6;
}